asgiref
astroid
attrs
autobahn
Automat
backports.zoneinfo
cffi
constantly
cryptography
daphne
Django
flake8
hyperlink
idna
incremental
isort
lazy-object-proxy
mccabe
platformdirs
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyflakes
pylint
pyOpenSSL
python-decouple
pytz
service-identity
six
sqlparse
toml
Twisted
txaio
typing-extensions
wrapt
zope.interface
django-tables2
channels
psycopg2-binary
channels_redis
